@use '../abstracts/' as *;

.main__contents--top--btn{
    background-color: $purple;
    border: none;
    border-radius: 50%;
    padding: 1rem;
    position: absolute;
    right: 3rem;
    top: 8.5rem;
    transition: all .2s;

    @include mq(tab-port){
        width: 6rem;
        height: 6rem;

        img{
            padding: 0;
            width: 100%;
        }
    }

    @include mq(land-phone){
        right: 50%;
        top: 9.5rem;
        transform: translate(50%, 50%);
    }

    &:hover{
        background-color: $off-black;
    }
}