@use '../abstracts/' as *;

main {
  background-color: $white;
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
  @include m-auto;
  height: 70%;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: 17rem;
    padding: 2.5rem 0 2.5rem 2.5rem;

  .main__content {
    .main__contents--top {
      border-bottom: 1px solid $light-grey;
      width: 82%;
      padding: 0 0 2.3rem 0;
    //   margin: auto;
      @include flex-comp;

      .main__content--dates {
        position: relative;
        @include flex-half;

        label {
          font-size: 1.2rem;
          font-weight: 650;
          color: $off-black;
        }
        input {
          outline: 0;
          border: 1px solid $light-grey;
          padding: 1.5rem 1rem;
          border-radius: .5rem;
          width: 67%;

          &::placeholder{
            font-size: 1.3rem;
            font-weight: 800;
          }
        }
      }
    }
  }
}
