@use '../abstracts/' as *;

main{
    background-color: $white;
    border: 1px solid red;
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
    @include m-auto;
    height: 70%;

    .main__content{
        .main__contents--top{
            // border: 1px solid blue;
            @include flex-comp;

            .main__content--dates{
                border: 1px solid blue;
                @include flex-half;

                label{
                    font-size: 2rem;
                    color: $off-black;
                }
                input{
                    outline: 0;
                    border: 1px solid $light-grey;
                }
            }
        }
    }
}