@use 'sass:map';

// MEDIA QUERY BREAKPOINTS!
$breakpoints: (
  475px: 29.679em,
  phone: 35.999em,
  // 575px
  640px: 39.999em,
  land-phone: 47.999em,
  // 768px
  tab-port: 61.999em,
  // 992px
  tab-land: 74.999em,
  // 1200px
  big-desktop: 87.499em,
  // 1400px
);

@mixin mq($key) {
  $size: map.get($breakpoints, $key);

  @media (max-width: $size) {
    @content;
  }
}

@mixin m-auto {
  width: 50%;
  margin: auto;

  @include mq(land-phone) {
    // width: 40%;
    // margin: 0;
  }
}

@mixin flex-comp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-half {
  display: flex;
  flex-direction: column;
}
